<h2>All Students</h2>
	
	<%= render partial: 'student', collection: @students %>

	<!-- This is the shorter form for above if you have followed the proper naming conventions--><%= render @students %>

